@import url('variables.less');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.center {text-align: center;}
.clear {clear: both;}
.content {margin-top: 50px;}
.inline {display: inline-block;}
.overflow {overflow: hidden;}
.relative {position: relative;}


/****************************** TITLE *****************************/

.subtitle {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 30px;
  margin: 20px 0 35px;
  text-align: center;
}

/*************************** MENU THEME ***************************/


.menuSelect {width: 200px;}
.menuSelect :global(.Select-control) {
  background: lighten(@THEME_MENU_DARK, 5%);
  color: @FONT_LIGHT;
  border-color: lighten(@THEME_MENU_DARK, 10%);
}

.menuSelect :global(.Select-input > input) {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 14px;
  padding: 8px 0 12px;
  -webkit-appearance: none;
}

.menuSelect:global(.has-value.Select--single > .Select-control .Select-value .Select-value-label) {color: @FONT_LIGHT;}
.menuSelect :global(.Select-menu-outer) {border-color: lighten(@THEME_MENU_DARK, 10%);}

.menuSelect :global(.Select-option) {
  background: lighten(@THEME_MENU_DARK, 5%);
  color: @FONT_LIGHT;
}

.menuSelect :global(.Select-option.is-selected), .menuSelect :global(.Select-option.is-focused) {background: @THEME_MENU_DARK;}

/****************************** FORM ******************************/

input { 
  width: 100%; 
  padding: 5px 10px;
}